# Exclusions standard Python
.venv/
__pycache__/
*.pyc
*.xlsx
*.pkl


# Dossiers générés
output/
fichiers_excel/
dist/

# Si projet Node accidentellement ajouté
node_modules/
build/
package-lock.json
package.json


#Nouvelle structuration du projet 

ETL_SIAMP/

build.bat
cache_manager.py
test_fusion_historique.py
verify_output.py