# Exclusions standard Python
.venv/
__pycache__/
*.pyc

# Dossiers générés
output/
fichiers_excel/
dist/

# Si projet Node accidentellement ajouté
node_modules/
build/
package-lock.json
package.json

build.bat
error_log.txt